doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Doreen He

        link(rel='icon', type='image/x-icon', href='../../assets/favicon.ico')
        link(href='../../css/styles.css', rel='stylesheet')

        include ../../includes/css.pug

    body

        include ../../includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('../../assets/img/po4.jpg'); background-position: right 50% top 12%;")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .post-heading
                            span <br><br><br>
                            //- h2 Finding Gravity
                            //- span.meta on Jan 17, 2025


        // Post Content
        article.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7 
                        h3.text-center Drunk on Candlelight 
                        address.text-center.text-muted.fst-italic.small Apr 11, 2025 (with notes from Dec 2024)
                        
                        p.paragraph
                            | There is one place I keep going back to again and again. 
                        
                        p.paragraph
                            | I spent many Sunday afternoons sitting, reading, standing, watching, thinking next to la fontaine Médicis. It carries you away, trembles you, really, overwhelmingly.
                        
                        p.paragraph   
                            | I later learned a French phrase « <i>coup de cœur</i> » that perfectly describes that feeling when I first saw the sculpture above la fontaine Médicis. It is something that strikes you with instantaneous love. Along with that, I might have just collected a few too many « <i>coup de cœur</i> » this past year. Thanks for capturing me. 


                        p.paragraph.fst-italic
                            | To my grey wool scarf packed away, 
                            <br>
                            | To your black suitcase left behind, 
                            <br>
                            | To my pearl earring lost once more, 
                            <br>
                            | To your missed train from Gare du Nord, 
                            <br>
                            | To the newspaper with yesterday’s date,
                            <br>
                            | To the restless wind and endless rain, 
                            <br>
                            | To the fire's glow from the crooked house,
                            <br>
                            | To the Christmas warmth gleamed in dark,
                            <br>
                            | To the crowded passion and puzzled mind, 
                            <br>
                            | Un coup de cœur. 
                        
                        p.paragraph.fst-italic
                            | From the spiced whiskey with the midnight jazz, 
                            <br>
                            | To the whirling dance in a small Parisian flat;
                            <br>
                            | From the first embrace on the Amsterdam streets,
                            <br>
                            | To the last embrasser in the city of lights.
                            <br>
                            | Un coup de cœur. 

   
                        p.paragraph.fst-italic
                            | In pursuit of coziness,
                            <br>
                            | From Amsterdam to Paris,
                            <br>
                            | Drunk on candlelight,
                            <br>
                            | A waltz for a night.

                        p.paragraph.fst-italic
                            | Tomber, 
                            <br>
                            | &nbsp; &nbsp; tomber, 
                            <br>
                            | &nbsp; &nbsp; &nbsp; &nbsp; tomber, 
                            <br>
                            | &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; tomber, 
                            <br>
                            | &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; tomber amoureux... 


                        p.paragraph.fst-italic
                            | You wild thing, 
                            <br>
                            | I said nothing.
                            <br>
                            | When the sunrise hurts my eyes,
                            <br>
                            | I don't blame Amsterdam.
                            <br>                        
                            | Thank you for capturing me.
                            <br>
                            | Let Amsterdam be Amsterdam, Paris be perfect. 



                        p.paragraph.text-end 
                            | - pour ne pas oublier d'aimer les mots, l'amour, et la vie.


                        // Divider
                        hr.my-4

                        // Pager
                        .d-flex.justify-content-end
                            a.btn.btn-primary.text-uppercase(href='/blog') More Writing →

        include ../../includes/footer.pug

        include ../../includes/scripts.pug