@import "fonts";
@import "rouge-github";


/* gradient background*/
body {
 /*
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
 */
 
	
  	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color:#727272;
	

	/*
	background-image: url('/images/watercolor.png');
	background-repeat: no-repeat;
        background-size: 50% 100%;
	background-position: cover;
	background-attachment: fixed; 
	*/ 
	
	background:  url('/images/watercolor4.png'), linear-gradient(-45deg, #fffdf0,  #f0f9ff, #f6f0ff, #fff0f5);
	background-size: 25%, 400% 400%;
	//background-position: right top, center center;
	background-repeat:  no-repeat, repeat;
	background-attachment: fixed, fixed; 
	animation: gradientBG 3s ease infinite;
	/*
	background:linear-gradient(-45deg, #fffdf0,  #f0f9ff, #f6f0ff, #fff0f5);
	background-size: 400% 400%;
	//background-position: -15% 50%, center center;
	background-repeat:  repeat;
	background-attachment: fixed; 
	animation: gradientBG 3s ease infinite;
	*/
}



@keyframes gradientBG {
	//-30, 50
	0% {
		background-position:  right top, 0% 50%;
	}
	50% {
		background-position:    right top, 100% 50%;
	}
	100% {
		background-position:   right top, 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}


a,
a:hover {
	text-decoration: none;
	color: #ddd;
}



/* rounded boarder */
#rcorners2 {
  border-radius: 25px;
  border: 4px double #d28692;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 10px; 
  width: 85%;
  height: 40px;  
}

//back
.background-image {
  background-image: url('/images/paper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}


h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
  font-family: 'Comic Sans MS';
  text-align: center;
}

h2 {
  color:#393939;
  font-family: 'Comic Sans MS';
  text-align: center;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:3px solid #d28692;
  border-right:3px solid #d28692;
  border-bottom:3px solid #d28692;
  border-radius: 25px;
  margin:0;
  padding:0 0 0 20px;
  //font-style:italic;
  font-family: 'Comic Sans MS';
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  padding: 30px;
	
  -webkit-font-smoothing:subpixel-antialiased;
  background: url('/images/paper.png');
  background-repeat: repeat;
  background-attachment: fixed; 
}

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  //background:#e5e5e5;
  background: #d28692;
	
  height:3px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    //border:1px solid #e5e5e5;
    border:3px solid #d28692;  
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
