doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Doreen He

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg'); background-position: right 50% top 35%")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 Truly Dor

                            h4.subheading The Whispers of My Inner Magnetic North

        // Main Content
        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        H3
                            | Hello friends,
                        p.caption
                            | If you’ve found your way here, I hope to give you a big hug in real life. Welcome to this little corner, born out of a burst of thoughts on a quiet Wednesday night.

                        p.caption   
                            | There is no perfection here. There is no permanence. There are only the fleeting moments, the messy thoughts, the gentle feelings, and the intense passions to be remembered. The journey, with all its ups and downs, is something to be cherished.

                        p.fst-italic.text-end
                            | - Dor ✍️
                    
                    // Divider
                    hr.my-4.col-md-10.col-lg-8.col-xl-7

                    // Pager
                    .d-flex.justify-content-end.col-md-10.col-lg-8.col-xl-7
                        a.btn.btn-primary.text-uppercase(href='blog') Writing →

        include includes/footer.pug

        include includes/scripts.pug