doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title The Whispers of My Magnetic North

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg'); background-position: right 50% top 35%")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 The Whispers of My Magnetic North

        // Main Content
        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        H3
                            | Hello friends,
                        p
                            | If you’ve found your way here, I hope to give you a big hug in real life. Welcome to this little corner, born out of a burst of thoughts on a quiet Wednesday night.

                        p
                            | As the title suggests, this is where I capture the whispers of my inner magnetic north - the pursuit of the depth of living, even when the direction is totally unclear. Here there is no perfection. There is no permanence. There are only the fleeting moments, the messy thoughts, the gentle feelings, the intense passions that demand to be remembered. The journey, with all its ups and downs, is something to be cherished. 


        include includes/footer.pug

        include includes/scripts.pug