doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Doreen He

        link(rel='icon', type='image/x-icon', href='../assets/favicon.ico')
        link(href='../css/styles.css', rel='stylesheet')

        include ../includes/css.pug

    body

        include ../includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('../assets/img/D1_50.jpg'); background-position: right 50% top 15%")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            span
                                |<br><span align="left">“What can life be worth if the first rehearsal for life is life itself?”</span>
                            span
                                |<br><span align="right">— Milan Kundera, <i>The Unbearable Lightness of Being</i></span><br>

        // Main Content
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-7

                    // Post preview
                    .post-preview
                        a(href='../posts/on_imagination')

                            span.post-subtitle No.2 - On Imagination
                        p.post-meta on Feb 1, 2025

                    
                    // Divider
                    hr.my-4
                    
                    .post-preview
                        a(href='../posts/finding_gravity')
                            span.post-subtitle No.1 - Finding Gravity
                        p.post-meta on Jan 17, 2025
                            //- a(href='#!') Doreen He

                    //- // Pager
                    //- .d-flex.justify-content-end.mb-4
                    //-     a.btn.btn-primary.text-uppercase(href='#!') Older Posts →
        
        include ../includes/footer.pug

        include ../includes/scripts.pug
