doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Doreen He

        link(rel='icon', type='image/x-icon', href='../../assets/favicon.ico')
        link(href='../../css/styles.css', rel='stylesheet')

        include ../../includes/css.pug

    body

        include ../../includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('../../assets/img/po1.jpg'); background-position: right 50% top 45%;")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .post-heading
                            span <br><br><br>
                            //- h2 Finding Gravity
                            //- span.meta on Jan 17, 2025


        // Post Content
        article.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7 
                        h3.text-center Finding Gravity 
                        address.text-center.text-muted.fst-italic.small Jan 17, 2025
                        
                        p.paragraph
                            | I left my roots when I was 17. Since then I’ve been on the move - moving homes, moving cities. I've had 8 different homes in the past 9 years, ranging from several months to almost 3 years. This is more than a few, less than many, each one a chapter of its own. 

                        p.paragraph
                            | I’ve always prided myself for being a free spirit, embracing the lightness of not having strong ties to any one place. Packing up my life, setting out to create something new, building a home, searching for a community, finding a sense of belonging; and then with or without my will, packing again, selling things, letting go, starting over, again and again, have become a cycle that repeats itself. As I step further into this journey, I notice something subtly shifts inside of me. With each new place, the connections grow a little deeper, the imprints sink in a little more. With every place, every person, I realize I’ve built a part of who I am. But it also comes with confusion. Goodbyes become harder. Leaving takes more courage. But why can’t I just feel content rooting at one place? What exactly am I seeking?

                        p.paragraph 
                            | I truly believe that the cities we live in our 20s - whether for a few months or a few years - have the power to shape the very essence of who we are. The two most recent cities I’ve lived have both been life-affirming.

                        p.paragraph 
                            | Two years in Toronto have evoked a calm confidence in me. Toronto is a place that pulses with ambition and possibility. But unlike NYC or London, the energy is electric yet somehow still laid-back. Dreams feel within reach, but there’s also an undercurrent of urgency that keeps me striving, pushing, and growing. Years after leaving my roots, gradually building a solid foundation in Canada and a support network, Toronto has become the “home” that gave me the courage to define what I desire and the confidence to actually believe I’m capable of it. Despite all that, I find myself yearning for something else, searching for something I couldn’t fully define.

                        p.paragraph 
                            | That void started to uncover itself a little in Paris. A few months in Paris has been one of the most soul-expanding experiences of my life. Let me explain. I have been quite disengaged from any cultural, intellectual or philosophical pursuit. For the majority of my life, I’ve been trained to focus on my own experience, the present moment, and the practical benefits. That broader sense of existence has been mostly ignored.


                        p.paragraph 
                            | My favorite thing to do in Paris is to take ridiculously long walks. During those walks, the idea of one word keeps coming back to me - 

                        p.caption.text-muted.fst-italic  GRAVITY

                        p.paragraph    
                            | The radial concentric streets, densely built Haussmann architectures, romantic gardens, centuries-old monuments and bridges all have an enduring weightiness to it. I felt as though I was stepping on footprints of generations before me - the philosophers, revolutionaries, artists, and thinkers. Everything carries layers of meaning, and that meaning carries weight, almost sacred in its richness and complexity. You sense that you’re part of a larger story, one that continues to unfold, but is also deeply anchored in the past. If one spends enough time in such a city, it’s inevitable to experience an appreciation and introspection of some sorts. The solipsistic me slowly finds myself craving for more moral and intellectual growth. I seek deep feeling, understanding and expression.

                        p.paragraph 
                            | The unspoken way of life is also in contrast to what I’m used to in North America. Rather than prioritize hustle, status and wealth, the people in France place greater value on community, connection, flow, arts, and beauty of all forms. Even in the middle of the day in a busy city, it’s not uncommon to see people having an elaborate lunch filled with conversations, savouring their espresso or a glass of wine without rush, painting or writing on the banks of La Seine, lost in the book pages by a beautiful fountain… I am also surprised by how the simple rituals and traditions tend to happen at the same time and punctuate their days, lining up for the first batch of baguettes at the local boulangerie, afternoon goûter, dinner time with people, perhaps a long evening stroll, shopping fresh produce from the local market on Tue/Thur (in my neighborhood), or Sundays spent with family and friends… I witnessed many vivid examples of simplicity over complexity, quality over quantity, modesty over grandiosity, longevity over ephemerality. What a rich way to experience life. Again, the word finds its way to me - Gravity.
                        
                        p.paragraph 
                            | I’ve always thrived on the energy, the novelty and the possibilities. But I realize it’s only when I focus, the deeper meaning and connections are fostered. Some permanence can be just as edifying as traversing through the vastness. Maybe the pursuit of moving upwards is ingrained in the gravity at first. It’s the gravity pulls life in a dimension that feels more timeless in retrospect.

                        p.paragraph.fst-italic.text-end 
                            | - A reminder for myself to cultivate more gravity


                        // Divider
                        hr.my-4

                        // Pager
                        .d-flex.justify-content-end
                            a.btn.btn-primary.text-uppercase(href='/blog') More Writing →

        include ../../includes/footer.pug

        include ../../includes/scripts.pug